<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drinkkireseptit</title>
        <meta charset="utf-8" />
    </head>

    <body bgcolor="skyblue">
        <h1>Drinkkireseptit</h1>
        <table width="600">
            <thead align = left>
                <tr>
                    <th>Drinkki</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dr : ${drinkit}">
                    <td>
                        <a th:href="@{~/drinkki/{id}(id=${dr.id})}"><span th:text="${dr.nimi}">nimi</span></a>
                    </td>
                    <td>
                        <form th:action="@{~/drinkit/{id}(id=${dr.id})}" method="POST">
                            <input type="hidden" name="param" value="delete">
                                <input type="submit" value="Poista"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
            <form method="POST" action="/drinkit">
                <input type="text" name="nimi"/><br/>
                <input type="submit" value="Lisaa uusi drinkkiresepti"/>
            </form>
        </br>
        <a href="/">Etusivulle</a>
    </body>
</html>
