<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>

    <body bgcolor="skyblue">
        <h1>Raaka-aineet</h1>
        <table width="600">
            <thead align = left>
                <tr>
                    <th>Nimi</th>
                    <th>Saatavuus</th>
                </tr>
                
            </thead>
            <tbody>
                <tr th:each="ra : ${raakaaineet}">
                    <td th:text="${ra.nimi}">Nimi</td>
                    <td th:text="${ra.saldotext}">Saldo</td>
                    <td>
                        <div th:if="${ra.ifsaldo}">
                            <form th:action="@{~/raakaaine/{id}(id=${ra.id})}" method="post">
                                <input type="hidden" name="param" value="removesaldo">
                                    <input type="submit" value="Poista kaapista"/>
                            </form>
                        </div>
                        <div th:unless="${ra.ifsaldo}">
                            <form th:action="@{~/raakaaine/{id}(id=${ra.id})}" method="post">
                                <input type="hidden" name="param" value="addsaldo">
                                    <input type="submit" value="Lisaa kaappiin"/>
                            </form>
                        </div>
                    </td>
                    <td>
                        <form th:action="@{~/raakaaine/{id}(id=${ra.id})}" method="post">
                            <input type="hidden" name="param" value="delete">
                                <input type="submit" value="Poista raakaaine"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
            <form method="POST" action="/raakaaine">
                <input type="text" name="nimi"/><br/>
                <input type="submit" value="Lisaa uusi raaka-aine"/>
            </form>
            <a href="/">Etusivulle</a>
    </body>
</html>
